<a href="https://colab.research.google.com/github/Pranav02706/DSA0410-FDS/blob/main/Exp_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [5]:
f=pd.read_csv("/content/House_Prediction - House_Prediction.csv")
location_price_average=f.groupby("zip_code")["price"].mean()
more_than_4beds=f[f["beds"]>4].count()["beds"]
largest_sq_feet=f["size"].max()
print("Average house price for each location: ", location_price_average)
print("Number of houses with more than 4 bedrooms: ", more_than_4beds)
print("Largest house size: ", largest_sq_feet)

Average house price for each location:  zip_code
98101    9.223909e+05
98102    1.178258e+06
98103    9.580861e+05
98104    5.036393e+05
98105    2.012199e+06
98106    6.675801e+05
98107    8.531452e+05
98108    8.059680e+05
98109    1.012418e+06
98112    1.636133e+06
98115    1.016978e+06
98116    9.336528e+05
98117    9.875575e+05
98118    7.792832e+05
98119    1.048173e+06
98121    7.921888e+05
98122    9.768230e+05
98125    8.134070e+05
98126    7.632114e+05
98133    6.807121e+05
98136    1.020102e+06
98144    8.876364e+05
98146    6.458024e+05
98164    5.600000e+05
98168    5.181670e+05
98177    1.157941e+06
98178    6.761959e+05
98199    1.197310e+06
Name: price, dtype: float64
Number of houses with more than 4 bedrooms:  157
Largest house size:  11010